
/******************************************
* 0. Planes
*******************************************/

.pago-title{
	margin-top: 35px;
	margin-bottom: 35px;

	font-family: "Roboto Condensed";
	font-size: 35px;
	font-weight: bold;
	text-transform: uppercase;
	
	color: black;
}

.plan{
	border-radius: 7px;
	-webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
	background-color: #5225f8;
    background-image: -moz-linear-gradient(45deg, #5225f8 0%, #a343f8 90%);
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, #5225f8), color-stop(90%, #a343f8));
    background-image: -webkit-linear-gradient(45deg, #5225f8 0%, #a343f8 90%);
    background-image: -o-linear-gradient(45deg, #5225f8 0%, #a343f8 90%);
    background: -ms-linear-gradient(45deg, #5225f8 0%, #a343f8 90%);
    background: -webkit-linear-gradient(45deg, #5225f8 0%, #a343f8 90%);
    background: -o-linear-gradient(45deg, #5225f8 0%, #a343f8 90%);
	background: linear-gradient(45deg, #5225f8 0%, #a343f8 90%);

	color: #000000;
	font-family: 'Montserrat', sans-serif;
}

.plan-selected{
	-webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.8);
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.8);
	background-color: #F86754;
    background-image: -moz-linear-gradient(45deg, #F86754 0%, #fabe61 100%);
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, #F86754), color-stop(100%, #fabe61));
    background-image: -webkit-linear-gradient(45deg, #F86754 0%, #fabe61 100%);
    background-image: -o-linear-gradient(45deg, #F86754 0%, #fabe61 100%);
    background: -ms-linear-gradient(45deg, #F86754 0%, #fabe61 100%);
    background: -webkit-linear-gradient(45deg, #F86754 0%, #fabe61 100%);
    background: -o-linear-gradient(45deg, #F86754 0%, #fabe61 100%);
    background: linear-gradient(45deg, #F86754 0%, #fabe61 100%);
}

.plan:hover{
	-webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.8);
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.8);
}

.plan-title{
	padding-top: 10px;

	font-family: "Roboto Condensed";
	font-size: 25px;
	font-weight: bold;
	text-transform: uppercase;
	
	color: white;
}

.plan-oldprice{
	padding-top: 10px;

	font-family: "Montserrat";
	font-size: 18px;
	text-decoration-line: line-through;
	text-decoration-color: #222;
	
	color: #222;
}

.plan-description{
	padding-top: 10px;

	font-family: "Montserrat";
	font-size: 15px;
	text-transform: uppercase;
	
	color: white;
}

.plan-newprice{
	padding-top: 10px;
	padding-bottom: 10px;

	font-family: "Montserrat";
	font-size: 25px;
	font-weight: bold;
	
	color: white;
}

/******************************************
* 1. Pagos
*******************************************/

.pago-description{
	padding-top: 10px;

	font-family: "Montserrat";
	font-size: 14px;
	font-weight: 100;
	
	color: white;
}

.pago-condition{
	padding-top: 10px;
	margin-bottom: 10px;

	font-family: "Montserrat";
	font-style: italic;
	font-size: 12px;
	font-weight: 100;

	color: #ddd;
}

.btnPagarArea{
	width: 100%;
	margin-left: 5px;
}

.btnPagarArea button{
	margin-top: 30px;
	padding-top: 3px;
}

/******************************************
* 2. Datos
*******************************************/

#stepThree{
    margin-top: 100px;
}

#personaldata-content{
    width: 100%;
}

#personaldata-content .row{
    width: 100%;
    margin: 0px;
}

.label{
    font-family: 'Roboto Condensed';
    font-size: 20px;
    margin-bottom: 10px;
}

.campos{
    font-family: 'Montserrat','Roboto Condensed';
    font-size: 20px;
    margin-bottom: 10px;
}

.subtitle{
    font-weight: bold;
    font-family: 'Montserrat','Roboto Condensed';
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
}

/************************************************
* 3. Modal
********************************************/

